.coverage
*.pyc
django.log
django.log*
project/settings_dev.py
project/settings_private.py
chef/cookbooks/palewire/files/default/id_rsa
chef/cookbooks/palewire/files/default/id_rsa.pub
chef/cookbooks/palewire/files/default/authorized_keys
chef/cookbooks/node.json
*.egg-*
.static/*
.media/*