<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#ONA15bot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style type="text/css">
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <a href="https://github.com/anthonyjpesce/ona15-arduino-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
            <h1>#ONA15bot</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Robot 1</h2>
            <p id="robot_1_stats"></p>
            <div id="robot_1_chart"></div>
        </div>
        <div class="row">
            <h2>Robot 2</h2>
            <p id="robot_2_stats"></p>
            <div id="robot_2_chart"></div>
        </div>
        <div class="row">
            <h2>Robot 3</h2>
            <p id="robot_3_stats"></p>
            <div id="robot_3_chart"></div>
        </div>
        <div class="row">
            <h2>Robot 4</h2>
            <p id="robot_4_stats"></p>
            <div id="robot_4_chart"></div>
        </div>
        <div class="row">
            <h2>Robot 5</h2>
            <p id="robot_5_stats"></p>
            <div id="robot_5_chart"></div>
        </div>

    </div>

    <script>
        var margin = {top:10, right:20, bottom:30, left:50};
        var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

        function drawChart(id, data) {
            var chart = document.getElementById('robot_' + id + '_chart'),
                w = chart.offsetWidth - margin.left - margin.right ,
                h = 300 - margin.top - margin.bottom,
                prevChartWidth = 0,
                transitionDuration = 500;

            var svg = d3.select(chart)
                        .append("svg")
                        .attr("width", w + margin.left + margin.right)
                        .attr("height", h + margin.top + margin.bottom )
                        .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            var x = d3.time.scale()
                .range([0, w]);

            var y = d3.scale.linear()
                .range([h, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            var line = d3.svg.line()
                .x(function(d) { return x(d.ts); })
                .y(function(d) { return y(d.v); });

            data.forEach(function(d){
                d.ts = parseDate(d.ts);
                d.v = parseFloat(d.v);
            });

            x.domain(d3.extent(data, function(d) { return d.ts; }));
            y.domain([0,3]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + h + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
              .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", -45)
                .attr("x", -100)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Voltage");

            svg.append("path")
                .datum(data)
                .attr("class", "line")
                .attr("d", line);

            // Fill in some summary stats about each Arduino
            var statline = document.getElementById("robot_" + id + "_stats"),
                count = data.length,
                extent = d3.extent(data, function(d) { return d.v; });

            statline.innerHTML = "<strong>" + count + "</strong> data points in the last 10 minutes.<br>";
            statline.innerHTML += "Maximum recorded value: <strong>" + extent[1] + "</strong> volts<br>";
            statline.innerHTML += "Minimum recorded value: <strong>" + extent[0] + "</strong> volts<br>";


        }

        function getChartJson(id) {
            d3.json("data/" + id + "/signals.json", function(error, json) {
              var data = json;

              drawChart(id, data);
            });
        }

        getChartJson(1);
        getChartJson(2);
        getChartJson(3);
        getChartJson(4);
        getChartJson(5);

    </script>
</body>
</html>



