<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#ONA15bot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style type="text/css">
        .container {
         padding-left: 25px; padding-right: 25px;
        }
        .axis path, .axis line {
         fill: none; stroke: #000; shape-rendering: crispEdges;
        }
        .x.axis path {
         display: none
        }
        .voltage {
         fill: none; stroke: steelblue; stroke-width: 1.5px;
        }
        text.avg {
         font-size: 12px; fill: #F00; text-anchor: middle; opacity: 0;
        }
        line.std-dev {
         fill: none; stroke: steelblue; stroke-opacity: 0.5; stroke-width: 1; stroke-dasharray: 10,10;
        }
        rect.std-dev-range {
         fill: #d7d7d7; fill-opacity: 0.25;
        }
        .baseline .line {
         stroke-width: 1.5; stroke-opacity: 0.3; stroke: #F00;
        }
        .jumbotron {
         background: #fff; border-bottom: 5px solid #eee;
        }
        img.bot {
         max-width: 100%; max-height: 250px; height: auto;
        }
        .jumbotron h1 {
         font-weight: bold
        }
        .bot2 {
         width: 75px; height: auto; display: inline;
        }
        @media (max-width: 767px) { 
            h1 {
             font-size: 26px !important
            }
            .jumbotron p {
                font-size:16px;
            }
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <a href="https://github.com/anthonyjpesce/ona15-arduino-server"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:99999" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-sm hidden-xs">
                    <img class="bot" src="http://s3-us-west-2.amazonaws.com/ona15bot/static/img/ONA15Bot.png" />
                </div>
                <div class="col-md-9">
                    <h1><img class="bot2 hidden-lg hidden-md" src="http://s3-us-west-2.amazonaws.com/ona15bot/static/img/ONA15Bot.png" />#ONA15Bot</h1>
                    <p>Welcome to our sensor experiment! This page is for the <a href="http://ona15.journalists.org/sessions/algorithmsandarduino/">algorithms and Arduino session</a> at ONA15. We're here to demonstrate some basics on using sensors, electronics and computer programming together in the service of journalism. Check out our <a href="https://twitter.com/ONA15Bot">Twitter</a>, and for an explanation of the code and electronics check out our <a href="https://github.com/anthonyjpesce/ona15-arduino-server">GitHub</a>.</p>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for robot in robots %}
            <div class="row">
                <div class="span12">
                    <h2>{{ robot.name }} - {{ robot.location }}</h2>
                    <p id="robot_{{robot.id}}_stats"></p>
                    <div id="robot_{{robot.id}}"></div>                
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        var winWidth = $(window).width(),
            winHeight = $(window).height(),
            margin = {top:10, right:20, bottom:30, left:50},
            parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse,
            updateInterval = 10000,
            isSmallScreen = (winWidth < 980) ? true : false;

        function drawChart(id, data, update) {
            var chart = document.getElementById('robot_' + id),
                w = chart.offsetWidth - margin.left - margin.right ,
                h = 300 - margin.top - margin.bottom,
                prevChartWidth = 0,
                transitionDuration = 10000;


            if (!update) {
                var svg = d3.select(chart)
                            .append("svg")
                            .attr("width", w + margin.left + margin.right)
                            .attr("height", h + margin.top + margin.bottom )
                            .append("g")
                                .attr("id", "robot_" + id + "_chart")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            } else {
                var svg = d3.select("#robot_" + id + "_chart");
            }

            var x = d3.time.scale()
                .range([0, w]);


            var y = d3.scale.linear()
                .range([h, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .tickFormat(d3.time.format("%H:%M"))
                .orient("bottom");

            // Fewer ticks on smaller screens
            if (isSmallScreen) {
                xAxis.ticks(d3.time.minute, 2);
            }

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            var line = d3.svg.line()
                .x(function(d) { return x(d.ts); })
                .y(function(d) { return y(d.v); });

            x.domain(d3.extent(data, function(d) { return d.ts; }));
            y.domain([0,3]);

            if (!update) {
                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + h + ")")
                    .call(xAxis);

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", -45)
                        .attr("x", -100)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("Voltage");
            }


            var stats = calculateStats(data);
            buildSummaryGraf(stats, id);


            if (!update) {

                // Plot standard deviation above and below the mean
                var stdDev = svg.append("g")
                                .attr("class", "std-dev-holder");

                // Shaded rectangle between the deviations
                stdDev.append("rect")
                    .attr("class", "std-dev-range")
                    .attr("x", 0)
                    .attr("y", y(stats.avg + stats.deviation))
                    .attr("width", w)
                    .attr("height", function(){
                        return y(stats.avg - stats.deviation) - y(stats.avg + stats.deviation);
                    });

                // Lines above and below the rect
                stdDev.append("line")
                    .attr("class", "std-dev below")
                    .attr("x1", 0)
                    .attr("x2", w)
                    .attr("y1", y(stats.avg - stats.deviation))
                    .attr("y2", y(stats.avg - stats.deviation));

                stdDev.append("line")
                    .attr("class", "std-dev above")
                    .attr("x1", 0)
                    .attr("x2", w)
                    .attr("y1", y(stats.avg + stats.deviation))
                    .attr("y2", y(stats.avg + stats.deviation));

                // Baseline of average voltage for the period
                var baseline = svg.append("g").attr("class","baseline");

                var text = baseline.append("text")
                            .attr("class", "avg")
                            .text("Average for period: " + stats.avg.toFixed(1) + "V")
                            .attr("y", y(stats.avg + stats.deviation))
                            .attr("transform", "translate(0,-5)");

                baseline.append("line")
                    .attr("class", "line")
                    .attr("x1", 0)
                    .attr("x2", w)
                    .attr("y1", y(stats.avg))
                    .attr("y2", y(stats.avg))
                    .on("mouseover", function(e) {
                        var xy = d3.mouse(this);
                        d3.select(this).style("stroke-opacity", 1.0);
                        text.style("opacity", 1).attr("x", xy[0]);
                    })
                    .on("mouseout", function(){
                        d3.select(this).style("stroke-opacity", 0.3);
                        text.style("opacity", 0);
                    });

            }

            // Finally, plot the line
            if (update) {

                svg.select(".x.axis")
                    .call(xAxis);

                svg.select(".y.axis")
                    .call(yAxis);

                // update baseline elements
                var baseline = svg.select('.baseline');
                baseline.select('.line')
                    .attr("y1", y(stats.avg))
                    .attr("y2", y(stats.avg));

                baseline.select('.avg')
                    .text("Average for period: " + stats.avg.toFixed(1) + "V")
                    .attr("y", y(stats.avg + stats.deviation));

                // update standard deviations
                var stdDev = svg.select(".std-dev-holder");
                stdDev.select(".std-dev-range")
                    .attr("y", y(stats.avg + stats.deviation))
                    .attr("height", function(){
                        return y(stats.avg - stats.deviation) - y(stats.avg + stats.deviation) ;
                    });

                stdDev.select(".below")
                    .attr("y1", y(stats.avg - stats.deviation))
                    .attr("y2", y(stats.avg - stats.deviation));

                stdDev.select(".above")
                    .attr("y1", y(stats.avg + stats.deviation))
                    .attr("y2", y(stats.avg + stats.deviation));

                // update line
                svg.selectAll('.voltage')
                    .attr("transform", "translate(" + x(d3.min(data, function(d) { return d.ts; })) + ")")
                    .attr("d", line(data));

            } else {
                svg.selectAll('.voltage')
                    .data([data])
                    .enter()
                    .append("path")
                    .attr("class", "voltage")
                    .attr("d", line(data));
            }

        }

        function calculateStats(data, id) {
            // map voltages to an array so we're not constantly reaccessing
            var values = d3.entries(data).map(function(d){ return d.value.v; });

            return {
                count: data.length,
                extent: d3.extent(values),
                avg: d3.mean(values),
                deviation: d3.deviation(values) * 2
            };
        }

        function buildSummaryGraf(stats, id) {
            var statline = document.getElementById("robot_" + id + "_stats");
            statline.innerHTML = "<strong>" + stats.count + "</strong> data points in the last 10 minutes.<br>";
            statline.innerHTML += "Maximum recorded value: <strong>" + stats.extent[1] + "</strong> volts.<br>";
            statline.innerHTML += "Minimum recorded value: <strong>" + stats.extent[0] + "</strong> volts.<br>";
            statline.innerHTML += "Average output: <strong>" + stats.avg.toFixed(2) + "</strong> volts.<br>";
            statline.innerHTML += "Standard deviation: <strong>" + stats.deviation.toFixed(2) + "</strong>";
        }

        function getChartJson(id, update) {
            var cacheBreaker = '?' + Math.floor(Math.random() * 100000);
            d3.json("/data/" + id + "/signals.json" + cacheBreaker, function(error, json) {
                if(!error) {
                    var data = json;
                    
                    if (data.length > 0) {
                        data.forEach(function(d){
                            d.ts = parseDate(d.ts);
                            d.v = parseFloat(d.v);
                        });

                        drawChart(id, data, update);                                            
                    }
                }
            });
        }

    function init() {
        getChartJson(1, false);
        getChartJson(2, false);
        getChartJson(3, false);
        getChartJson(4, false);
        getChartJson(5, false);
        setTimeout(updateData, updateInterval);

    }
    init();


    function updateData() {
        getChartJson(1, true);
        getChartJson(2, true);
        getChartJson(3, true);
        getChartJson(4, true);
        getChartJson(5, true);
        setTimeout(updateData, updateInterval);
    }



    </script>
</body>
</html>



